body.prob
{
    text-indent: 0;
}
h2.prob
{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}
p.prob
{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
thead.prob
{
    text-align: center;
}
img.prob
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1.prob
{
    text-align: center;
}
table.prob
{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
th.prob
{
    border: 1px solid;
    padding: 10px;
}
td.prob
{
    width: 1000em;
    border: 1px solid;
    vertical-align: text-top;
    text-align: left;
    padding: 10px;
}
code.prob
{
    color:black;
    background-color: yellow;
}